<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="center" style="display:flex; justify-content: center;  margin: 0;">
        Thank you
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        await sleep(5000);
        // const url = new URL(window.location.href);

        // Get the value of the 'accessToken' parameter from the URL
        // const accesstoken = url.searchParams.get("accesstoken");
        // const accessToken = '<%= accessToken %>';

        // Check if cookies are set
        // var cookies = document.cookie.split(';');
        // console.log(typeof cookies[1])
        // var token = cookies[1].split("=");
        // console.log(token);
        // console.log('sending msg to Hello Channel')

        try {
            Hello.postMessage(`<%=accessToken%>`);
        } catch (error) {
            window.location.href = "https://freecash.enactweb.com/"
        }

    })
</script>

</html>